/* Base colors */
$red: #d44646;
$black: #000;
$gray_90: #1a1818;
$gray_80: #2e2c2c;
$gray_70: #474545;
$gray_60: #666363;
$gray_50: #918d8d;
$gray_40: #b8b6b6;
$gray_20: #e0e0e0;
$gray_10: #f0f0f0;
$white: #fff;
$straw: #efd595;
$basil: #bce29e;
$pink: #fabdc8;
$mauve: #edc9ff;
$teal: #bce5e5;
$beige: #d9cec7;
$daylight: #c2d6ff;
$darkroom: #2e2c2c;
$white_20: #ffffff33;
$straw_20: #efd59533;
$red_30: #d446464d;
$red_40: #ffdee4;
