.circle-marker {
    width: 42px;
    height: 42px;
    background-color: rgba(#b16a32, 0.3);
    border-radius: 50%;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #b16a32;
    }
}
