@import './breakpoints';

@mixin media-custom-min($pixels) {
    @media (min-width: $pixels) {
        @content;
    }
}

@mixin media-custom-max($pixels) {
    @media (max-width: $pixels) {
        @content;
    }
}

@mixin media-custom-min-max($minPixels, $maxPixels) {
    @media (min-width: $minPixels) and (max-width: $maxPixels) {
        @content;
    }
}

@mixin mobile-only {
    @media (max-width: $breakpoint-tablet-small - 1) {
        @content;
    }
}

@mixin mobile-and-above {
    @media (min-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin small-tablet-between {
    @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet-small - 1) {
        @content;
    }
}

@mixin small-tablet-and-above {
    @media (min-width: $breakpoint-tablet-small) {
        @content;
    }
}

@mixin large-tablet-between {
    @media (min-width: $breakpoint-tablet-small) and (max-width: $breakpoint-tablet-large - 1) {
        @content;
    }
}

@mixin large-tablet-and-above {
    @media (min-width: $breakpoint-tablet-large) {
        @content;
    }
}

@mixin up-to-large-tablet {
    @media (max-width: $breakpoint-tablet-large - 1) {
        @content;
    }
}

@mixin up-to-large-tablet-landscape {
    @media (orientation: landscape) and (max-width: $breakpoint-tablet-large - 1) {
        @content;
    }
}

@mixin up-to-small-desktop {
    @media (max-width: $breakpoint-small-desktop - 1) {
        @content;
    }
}

@mixin desktop-between {
    @media (min-width: $breakpoint-tablet-large) and (max-width: $breakpoint-desktop - 1) {
        @content;
    }
}

@mixin up-to-desktop {
    @media (max-width: $breakpoint-desktop - 1) {
        @content;
    }
}

@mixin desktop-and-above {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}
